html,
body {
  height: 100%;

}

.spined-bg {
  position: absolute;
  overflow-x: hidden;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #1a1a1a;
  background-image: radial-gradient(ellipse 80% 80% at 50% -20%,
      rgba(120, 119, 198, 0.3),
      rgba(255, 255, 255, 0));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}